# Get listing data

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

In [2]:
with open('TMdownload.html') as html_file:
    soup = BeautifulSoup(html_file, 'lxml')

# print(soup.prettify)

In [3]:
listing = soup.find('div', class_="tm-motors-search-card__details")

In [4]:
# print(listing1.prettify())

In [5]:
listing_id = listing.find('div', tmid="location").get('id')
listing_id

'1668009314432-3855332524-location'

In [6]:
location = listing.find('div', tmid="location").text
location

' Katikati, Bay of Plenty '

In [7]:
title = listing.find('div', tmid="title").text
title

' 2011 Subaru Outback '

In [8]:
model_detail = listing.find('div', tmid="modelDetail").text
model_detail

' 25I Premium '

In [9]:
sub_title = listing.find('div', tmid="subtitle").text
sub_title

' LEATHER SEATS, ROOF RACK, TOW BAR & SUN ROOF '

In [10]:
engine_details = listing.find('span', tmid="odometer").text
engine_details

' 210,500km '

In [11]:
engine_details = listing.find('span', tmid="engineDetails").text
repr(engine_details)

"' 2457cc, Petrol, Automatic '"

In [12]:
asking_price = listing.find('span', class_="tm-motors-search-card__price").text
asking_price

' $8,250 '

In [13]:
sale_type = listing.find('div', class_="tm-motors-search-card__asking-price ng-star-inserted")
sale_type

<div class="tm-motors-search-card__asking-price ng-star-inserted"> Asking price <span class="tm-motors-search-card__price"> $8,250 </span>
<!-- -->
</div>

In [14]:
data = {'listing_id': listing_id,
        'location': location,
        'title': title,
        'sub_title': sub_title,
        'model_detail': model_detail,
        'engine_details': engine_details,
        'sale_type': sale_type,
        'asking_price': asking_price
       }

In [15]:
data

{'listing_id': '1668009314432-3855332524-location',
 'location': ' Katikati, Bay of Plenty ',
 'title': ' 2011 Subaru Outback ',
 'sub_title': ' LEATHER SEATS, ROOF RACK, TOW BAR & SUN ROOF ',
 'model_detail': ' 25I Premium ',
 'engine_details': ' 2457cc, Petrol, Automatic ',
 'sale_type': <div class="tm-motors-search-card__asking-price ng-star-inserted"> Asking price <span class="tm-motors-search-card__price"> $8,250 </span>
 <!-- -->
 </div>,
 'asking_price': ' $8,250 '}

In [16]:
my_df  = pd.DataFrame(columns = ['listing_id', 
                                 'location', 
                                 'title',
                                 'sub_title', 
                                 'model_detail',
                                 'engine_details', 
                                 'sale_type', 
                                 'asking_price'])

In [17]:
my_df

Empty DataFrame
Columns: [listing_id, location, title, sub_title, model_detail, engine_details, sale_type, asking_price]
Index: []

In [18]:
insert_row = {
        'listing_id': listing_id,
        'location': location,
        'title': title,
        'sub_title': sub_title,
        'model_detail': model_detail,
        'engine_details': engine_details,
        'sale_type': sale_type,
        'asking_price': asking_price
}

my_df = pd.concat([my_df, pd.DataFrame([insert_row])])

In [19]:
my_df

,listing_id,location,title,sub_title,model_detail,engine_details,sale_type,asking_price
0,1668009314432-3855332524-location,"Katikati, Bay of Plenty",2011 Subaru Outback,"LEATHER SEATS, ROOF RACK, TOW BAR & SUN ROOF",25I Premium,"2457cc, Petrol, Automatic","[ Asking price , [ $8,250 ], \n, , \n]","$8,250"